*{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: system-ui;;
  background-color: black;
}

.navbar {
  width: 100%;
  height: 5%;
  z-index: 10;
  display: flex;
  position: absolute;
  text-align: center;
  align-items: center;
  color: white;
  background: rgb(5, 5, 5);
  border-color: rgb(45, 45, 45);
  border-style: solid;
}

.navname {
  height: 50%;
  text-align: center;
  font-weight: bold;
  font-size: 17.5px;
  color: white;
  background: rgb(5, 5, 5);
}

.reset-button,
.toggle-button {
  cursor: pointer;
  text-align: center;
  font-size: 17.5px;
  color: white;
  background: rgb(15, 15, 15);
  border-style: none;
}

.reset-button:hover,
.toggle-button:hover {
  background: rgb(30, 30, 30);
}

.speed{
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 15px;
  background: rgb(5, 5, 5);
}

.speed-value{
  background: rgb(5, 5, 5);
}

.speed-slider{
  cursor: pointer;
  width: 95%;
}

.focused-planet{
  height: 50%;
  text-align: center;
  font-size: 17.5px;
  color: white;
  background: rgb(5, 5, 5);
}

.camera-tip1,
.camera-tip2,
.camera-tip3 {
  pointer-events: none;
  position: absolute;
  z-index: 9;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}

.camera-tip1 {
  top: 6%;
  left: 9px;
}

.camera-tip2 {
  top: 9%;
  left: 9px;
}

.camera-tip3 {
  top: 12%;
  left: 9px;
}

.planet-info-popup {
  bottom: -20%;
  max-height: 10%;
  padding-bottom: 5%;
  position: absolute;
  align-items: center;
  text-align: center;
  color: white;
  background-color: rgba(5, 5, 5, 0.8);
  box-shadow: 0 -5px 15px rgba(15, 15, 15, 0.5);
  transition: bottom 0.5s ease-in-out;
}

.planet-info-popup.visible {
  bottom: 0%;
}

.planet-info-popup h2 {
  padding-top: 30px;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  color: rgb(50, 160, 255);
}

.planet-stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.stat {
  width: 25%;
  display: block;
}

.label {
  font-weight: 400;
  color: rgb(170, 200, 255);
}

.value {
  font-weight: 500;
  color: white;
}

@media (max-width: 600px) {
  .stat {
    width: 100%;
  }
}